<section class="convenios-section text-center" id="convenios">
  <img
    src="img/sepelios/co1.jpg"
    class="co"
    alt="werchow convenios sepelio"
  />
  <div class="row mb-4 p-4">
    <div class="col-md-6">
      <a
        href="/conveniosnacionales"
        class="mt-4 btn btn-primary btn-block mx-auto"
      >
        Convenios Nacionales
      </a>
    </div>
    <div class="col-md-6">
      <a
        href="/conveniosprovinciales"
        class="mt-4 btn btn-primary btn-block mx-auto"
      >
        Convenios Provinciales
      </a>
    </div>
  </div>
</section>