<section class="container border border-dark mt-4 mb-4 p-4 alert alert-secondary">
 
  <div class="mt-4 mb-4">
       <h2 class="mt-4">
    <strong>
     <u> Plan Novell</u>: Descripcion
    </strong>
  </h2>
    <p class="text-justify">
      Es un sistema de compra anticipada, en la cual en beneficiario elige la categoría del
        servicio y la forma de pago.
    </p>
    <h4 class="mt-4">
      <strong>
        PUNTOS IMPORTANTE DE LA PROPUESTA:
      </strong>
    </h4>
    <p class="text-justify">
      1- Es un servicio de se compra en forma anticipada y una vez cancelado brinda una
        cobertura 100% vitalicia; es decir que el servicio queda a disposición del beneficiario
        para cuando los familiares lo soliciten
    </p>
    <p class="text-justify">
        2- Esta operación esta garantizada por la empresa con mas 57 años de trayectoria en la
        Provincia de JUJUY y avalada por un contrato certificado ante escribano publico.
    </p>
        <p class="text-justify">
        3- Es importante destacar que las cuotas capitales abonadas efectivamente por el
        tomador del servicio serán consideradas como pagos de capitalización y ahorro.
        </p>
        
        <p class="text-justify">
        4- Existen distintas formas de pago y financiación para la compra de este servicio
        anticipado de sepelio:
        </p>
        
        <p class="text-justify">
        a – Financiación de la Empresa: son planes de pagos en cuotas accesibles; que van de
        1 a 12 cuotas.
        </p>
        
    </p>
  </div>
  
  <br/>
  
  <h2 class="mt-4 mb-4">
    <strong>
        <u>
      Tipos Y Detalles De Planes Novell
      </u>
    </strong>
  </h2>
  <table class="table table-bordered table-striped tabeclass table-responsive">
    <thead class="thead-dark">
      <tr>
        <th>
          Plan Base: Borla Tierra
        </th>
        <th>
          Plan Previsor: Boveda Tapa Lisa
        </th>
        <th>
          Plan Silver: Boveda Un Panel
        </th>
        <th>
          Plan Serenity: Boveda Dos Paneles
        </th>
        <th>
          Plan Premiun: Boveda Tres Paneles
        </th>
      </tr>
    </thead>
    <tbody id="myTable">
      {{! ----  ATAUD }}
      <tr>
        <td>
          <strong>
            <u>
              ATAUD
            </u>
          </strong>
          <p class="text-justify">
            ---
          </p>
        </td>
        <td>
          <strong>
            <u>
              ATAUD
            </u>
          </strong>
          <p class="text-justify">
            ---
          </p>
        </td>
        <td>
          <strong>
            <u>
              ATAUD
            </u>
          </strong>
          <p class="text-justify">
            Bovedilla Liso con Metálica./ 1 panel con metálica, o de similares características.
          </p>
        </td>
        <td>
          <strong>
            <u>
              ATAUD
            </u>
          </strong>
          <p class="text-justify">
            Bóveda dos  paneles con metálica, o de similares características.
          </p>
        </td>
        <td>
          <strong>
            <u>
              ATAUD
            </u>
          </strong>
          <p class="text-justify">
            Tres  panales con metálica/ Cola de pescado, o de similares características.
          </p>
        </td>
      </tr>
      {{! ---- CAPILLA }}
      <tr>
        <td>
          <strong>
            <u>
              CAPILLA ARDIENTE
            </u>
          </strong>
          <p class="text-justify">
            ---
          </p>
        </td>
        <td>
          <strong>
            <u>
              CAPILLA ARDIENTE
            </u>
          </strong>
          <p class="text-justify">
            ---
          </p>
        </td>
        <td>
          <strong>
            <u>
              CAPILLA ARDIENTE
            </u>
          </strong>
          <p class="text-justify">
            compuesta  de  6  candelabros  eléctricos con   
    cordones. Cruz eucarística o  estrella de David .                                                     
    Pedestales para ataúd.  Atriles  porta corona. 
    Tarjetero  para  agradecimientos.  Personal 
    Uniformado  al servicio de los familiares.
          </p>
        </td>
        <td>
          <strong>
            <u>
              CAPILLA ARDIENTE
            </u>
          </strong>
          <p class="text-justify">
            compuesta  de  6  candelabros  eléctricos con   
    cordones. Cruz eucarística o  estrella de David .                                                     
    Pedestales para ataúd.  Atriles  porta corona. 
    Tarjetero  para  agradecimientos.
          </p>
        </td>
        <td>
          <strong>
            <u>
              CAPILLA ARDIENTE
            </u>
          </strong>
          <p class="text-justify">
            compuesta  de  6  candelabros  eléctricos con   
    cordones. Cruz eucarística o  estrella de David .                                                     
    Pedestales para ataúd.  Atriles  porta corona. 
    Tarjetero  para  agradecimientos.
          </p>
        </td>
      </tr>
      {{! ---- SALAS VELATORIAS }}
      <tr>
        <td>
          <strong>
            <u>
              SALAS VELATORIAS
            </u>
          </strong>
          <p class="text-justify">
            ---
          </p>
        </td>
        <td>
          <strong>
            <u>
              SALAS VELATORIAS
            </u>
          </strong>
          <p class="text-justify">
            ---
          </p>
        </td>
        <td>
          <strong>
            <u>
              SALAS VELATORIAS
            </u>
          </strong>
          <p class="text-justify">
            La empresa cuenta con salas velatorios   
 céntricas confortables  y climatizadas.
          </p>
        </td>
        <td>
          <strong>
            <u>
              SALAS VELATORIAS
            </u>
          </strong>
          <p class="text-justify">
            La empresa cuenta con salas velatorios   
 céntricas confortables  y climatizadas.
          </p>
        </td>
        <td>
          <strong>
            <u>
              SALAS VELATORIAS
            </u>
          </strong>
          <p class="text-justify">
            La empresa cuenta con salas velatorios   
 céntricas confortables  y climatizadas.
          </p>
        </td>
      </tr>
      {{! ---- PARQUE AUTOMOTOR }}
      <tr>
        <td>
          <strong>
            <u>
              PARQUE AUTOMOTOR
            </u>
          </strong>
          <p class="text-justify">
            ---
          </p>
        </td>
        <td>
          <strong>
            <u>
              PARQUE AUTOMOTOR
            </u>
          </strong>
          <p class="text-justify">
            ---
          </p>
        </td>
        <td>
          <strong>
            <u>
              PARQUE AUTOMOTOR
            </u>
          </strong>
          <p class="text-justify">
            - Carroza Fúnebre
     - Coche Porta coronas ( si es necesario)  
     - Coches para Acompañamiento ( dos )
          </p>
        </td>
        <td>
          <strong>
            <u>
              PARQUE AUTOMOTOR
            </u>
          </strong>
          <p class="text-justify">
            - Carroza Fúnebre
     - Coche Porta coronas ( si es necesario)  
     - Coches para Acompañamiento ( dos )
          </p>
        </td>
        <td>
          <strong>
            <u>
              PARQUE AUTOMOTOR
            </u>
          </strong>
          <p class="text-justify">
            - Carroza Fúnebre
     - Coche Porta coronas ( si es necesario)  
     - Coches para Acompañamiento ( dos )
          </p>
        </td>
      </tr>
      {{! ---- AVISO NECROLOGICO }}
      <tr>
        <td>
          <strong>
            <u>
              AVISO NECROLOGICO
            </u>
          </strong>
          <p class="text-justify">
            ---
          </p>
        </td>
        <td>
          <strong>
            <u>
              AVISO NECROLOGICO
            </u>
          </strong>
          <p class="text-justify">
            ---
          </p>
        </td>
        <td>
          <strong>
            <u>
              AVISO NECROLOGICO
            </u>
          </strong>
          <p class="text-justify">
            Se publica un aviso en el diario local o tres pases  
   radiales según opción o modalidad de  
   comunicación  social de cada zona.
          </p>
        </td>
        <td>
          <strong>
            <u>
              AVISO NECROLOGICO
            </u>
          </strong>
          <p class="text-justify">
            Se publica un aviso en el diario local o tres pases  
   radiales según opción o modalidad de  
   comunicación  social de cada zona.
          </p>
        </td>
        <td>
          <strong>
            <u>
              AVISO NECROLOGICO
            </u>
          </strong>
          <p class="text-justify">
            Se publica un aviso en el diario local o tres pases  
   radiales según opción o modalidad de  
   comunicación  social de cada zona.
          </p>
        </td>
      </tr>
      {{! ---- SERVICIO DE CAFETERIA CON MOZOS }}
      <tr>
        <td>
          <strong>
            <u>
              SERVICIO DE CAFETERIA CON MOZOS
            </u>
          </strong>
          <p class="text-justify">
            ---
          </p>
        </td>
        <td>
          <strong>
            <u>
              SERVICIO DE CAFETERIA CON MOZOS
            </u>
          </strong>
          <p class="text-justify">
            ---
          </p>
        </td>
        <td>
          <strong>
            <u>
              SERVICIO DE CAFETERIA CON MOZOS
            </u>
          </strong>
          <p class="text-justify">
            NO INCLUYE
          </p>
        </td>
        <td>
          <strong>
            <u>
              SERVICIO DE CAFETERIA CON MOZOS
            </u>
          </strong>
          <p class="text-justify">
            Esta cobertura se brinda cuando se hace uso de   
    la Sala Velatorio. Consiste en una mesa de coffe 
    break.
          </p>
        </td>
        <td>
          <strong>
            <u>
              SERVICIO DE CAFETERIA CON MOZOS
            </u>
          </strong>
          <p class="text-justify">
            Esta cobertura se brinda cuando se hace uso de   
    la Sala Velatorio. Consiste en una mesa de coffe 
    break.
          </p>
        </td>
      </tr>
      {{! ---- SET DE CAFETERIA }}
      <tr>
        <td>
          <strong>
            <u>
              SET DE CAFETERIA
            </u>
          </strong>
          <p class="text-justify">
            ---
          </p>
        </td>
        <td>
          <strong>
            <u>
              SET DE CAFETERIA
            </u>
          </strong>
          <p class="text-justify">
            ---
          </p>
        </td>
        <td>
          <strong>
            <u>
              SET DE CAFETERIA
            </u>
          </strong>
          <p class="text-justify">
            NO INCLUYE
          </p>
        </td>
        <td>
          <strong>
            <u>
              SET DE CAFETERIA
            </u>
          </strong>
          <p class="text-justify">
            En caso de no utilizar la Sala Velatorio se le  
   entrega un set que contiene elementos de  
   cafetería, para que    los mismos sean servidos en 
   el domicilio de inhumación.
          </p>
        </td>
        <td>
          <strong>
            <u>
              SET DE CAFETERIA
            </u>
          </strong>
          <p class="text-justify">
            En caso de no utilizar la Sala Velatorio se le  
   entrega un set que contiene elementos de  
   cafetería, para que    los mismos sean servidos en 
   el domicilio de inhumación.
          </p>
        </td>
      </tr>
      {{! ---- CLAUSULA DE TRASLADO DENTRO DE LA PROVINCIA DE JUJUY }}
      <tr>
        <td>
          <strong>
            <u>
              CLAUSULA DE TRASLADO DENTRO DE LA PROVINCIA DE JUJUY
            </u>
          </strong>
          <p class="text-justify">
            ---
          </p>
        </td>
        <td>
          <strong>
            <u>
              CLAUSULA DE TRASLADO DENTRO DE LA PROVINCIA DE JUJUY
            </u>
          </strong>
          <p class="text-justify">
            ---
          </p>
        </td>
        <td>
          <strong>
            <u>
              CLAUSULA DE TRASLADO DENTRO DE LA PROVINCIA DE JUJUY
            </u>
          </strong>
          <p class="text-justify">
            Sin cargo hasta un radio de 15 Km. del lugar de residencia declarado por el afiliado. Para gozar de este beneficio se aconseja mantener actualizada la declaración del lugar de residencia  en la empresa.
          </p>
        </td>
        <td>
          <strong>
            <u>
              CLAUSULA DE TRASLADO DENTRO DE LA PROVINCIA DE JUJUY
            </u>
          </strong>
          <p class="text-justify">
            Sin cargo hasta un radio de 20 Km. del lugar de residencia declarado por el afiliado. Para gozar de este beneficio se aconseja mantener actualizada la declaración del lugar de residencia  en la empresa.
          </p>
        </td>
        <td>
          <strong>
            <u>
              CLAUSULA DE TRASLADO DENTRO DE LA PROVINCIA DE JUJUY
            </u>
          </strong>
          <p class="text-justify">
            Sin cargo hasta un radio de 30 Km. del lugar de residencia declarado por el afiliado. Para gozar de este beneficio se aconseja mantener actualizada la declaración del lugar de residencia  en la empresa.
          </p>
        </td>
      </tr>
    </tbody>
  </table>
</section>