<section id="homenajes" class="mt-4 mb-4">
  {{! CARROUSEL NEO }}
  <img
    class="homenajeba mb-4"
    src="img/sepelios/homenaje.jpg"
    alt="Werchow Homenaje Virtuales"
    srcset=""
  />
  <iframe
    style="width: 100%; height: 350px; margin: auto; background:rgba(0,0,0,0); border: none;"
    src="https://werchow.neo.fo/carrusel?cliente=werchow"
  ></iframe>
  <div class="col-md-12">
    <a
      href="/homenajesvirtuales"
      class=" btn btn-primary btn-block mx-auto"
    >
      Buscar Homenaje
    </a>
  </div>
  {{! <div class="p-3 border border-dark">
    <h2 class="text-center mt-4 mb-4">
      <u>
        Homenajes Virtuales
      </u>
    </h2>
    <iframe
      class="homenaje"
      src="https://werchow.neo.fo/?cliente=werchow"
    ></iframe>
  </div> }}
</section>