<section class="about-section text-center" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2 class="text-white mb-4">
          Acerca De Nosotros
        </h2>
        <p class="text-white-50 text-justify">
          Werchow Sepelios 40 años de rendir Homenajes a la vida. Werchow Sepelios es una empresa orgullosamente jujeña, que desde hace más de 50 años se ha dedicado a ofrecer servicios fúnebres de excelencia, con el fin de poder hacer un homenaje a la vida de las personas, buscamos ser un apoyo para Usted y su familia; en todo momento, siempre con un trato humano, cálido y cercano, cada uno de nuestros colaboradores reflejan la filosofía que nos han definido desde nuestro nacimiento: hacer más fáciles los momentos más difíciles, somos una de las empresas fúnebre con mayor participación en el mercado de la provincia, nos respalda un impresionante 99% de satisfacción de nuestros clientes.
        </p>
      </div>
    </div>
  </div>
  {{! <img class="img-fluid" src="public/img/sepelios/nos.jpg" alt="" /> }}
</section>