<section class="convenios-section text-center" id="novell">
  <img
    src="img/sepelios/banovellppal.jpg"
    class="co"
    alt="werchow convenios sepelio"
  />
  <div class="row mb-4 p-4">
    <div class="col-md-12">
      <a href="/novell" class="mt-4 btn btn-primary btn-block mx-auto">
        Detalles Y Tipos De Planes
      </a>
    </div>
  </div>
</section>