<section class="signup-section" id="signup">
    <div class="container ">
        <div class="row d-flex justify-content-center ">
            <div class="col-lg-8 mx-auto text-center">
                
                <h2 class="text-white mb-5">Contactate - Atencion Personalizada las 24 horas</h2>
                <form class="form-inline d-flex">

                    <input class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="inputEmail" type="text"
                        placeholder="Apellido y Nombre" />


                    <input class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="inputEmail" type="email"
                        placeholder="Correo Electronico" />

                    <div class="row col-md-12 d-flex justify-content-center">
                        <textarea rows="3" class="mt-4 col-lg-8 form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0"
                            placeholder="Mensaje">  </textarea>
                    </div>


                    <button class="mt-4 btn btn-primary btn-block mx-auto" type="submit">Enviar</button>
            </div>
            </form>
        </div>

    </div>
    </div>
</section>