<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Moderna Bootstrap Template - Index</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="img/grupowerchow/favicon.png" rel="icon">
  <link href="img/grupowerchow/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="vendor/grupowerchow/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="vendor/grupowerchow/animate.css/animate.min.css" rel="stylesheet">
  <link href="vendor/grupowerchow/icofont/icofont.min.css" rel="stylesheet">
  <link href="vendor/grupowerchow/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="vendor/grupowerchow/venobox/venobox.css" rel="stylesheet">
  <link href="vendor/grupowerchow/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="vendor/grupowerchow/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="css/grupowerchow.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Moderna - v2.0.1
  * Template URL: https://bootstrapmade.com/free-bootstrap-template-corporate-moderna/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

<!-- ======= Header & Navbar Section ======= -->
 {{>grupowerchow/header}}

  <!-- ======= Hero Section ======= -->
   {{>grupowerchow/hero}}

  <main id="main">

    <!-- ======= Services Section ======= -->
   {{>grupowerchow/service}}


    <!-- ======= Why Us Section ======= -->
    {{>grupowerchow/aboutus}}

    <!-- ======= Features Section ======= -->
    {{>grupowerchow/features}}

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  {{>grupowerchow/footer}}

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="vendor/grupowerchow/jquery/jquery.min.js"></script>
  <script src="vendor/grupowerchow/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="vendor/grupowerchow/jquery.easing/jquery.easing.min.js"></script>
  <script src="vendor/grupowerchow/php-email-form/validate.js"></script>
  <script src="vendor/grupowerchow/venobox/venobox.min.js"></script>
  <script src="vendor/grupowerchow/waypoints/jquery.waypoints.min.js"></script>
  <script src="vendor/grupowerchow/counterup/counterup.min.js"></script>
  <script src="vendor/grupowerchow/owl.carousel/owl.carousel.min.js"></script>
  <script src="vendor/grupowerchow/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="vendor/grupowerchow/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="js/grupowerchow/main.js"></script>

</body>

</html>