<div class="responsive">
  <div class="banner-sorteo">
    <img
      src="/public/img/clubwerchow/sorteo.jpg"
      alt="Sorteo Club Werchow"
      class="image-banner"
    />
  </div>
  <div class="col-11 text-center mr-4">
    <a
      href="/solicitudsorteo"
      class="btn btn-secondary btn-block mt-4 mb-4"
      target=""
    >
      Inscribite Ahora!
    </a>
  </div>
</div>