<div class="web">
  <div class="banner-sorteo">
    <img
      src="/public/img/clubwerchow/sorteo.jpg"
      alt="Sorteo Club Werchow"
      class="image-banner"
    />
    <div class="middle-banner">
      <hr class="mt-4 mb-4" />
      <a href="/solicitudsorteo" class="btn btn-secondary btn-md text-white">
        Inscribite Ahora!
      </a>
      <hr class="mt-4 mb-4" />
    </div>
  </div>
</div>