<div id="contact">
    <footer>
        <div class="row justify-content-center">
            <div class="col-md-5 text-center">
                <div class="">
                    <img src="/public/img/clubwerchow/logo2.png" class="logoclub" alt="club werchow" />
                </div>
                <div class="">
                    <strong>Datos De Contacto</strong>
                    <p>
                        (388) - 4300930 <br />
                        clubwerchow@werchow.com
                    </p>
                    <a href="">
                        <i class="fab fa-facebook-square"></i>
                    </a>
                    <a href="">
                        <i class="fab fa-twitter-square"></i>
                    </a>
                    <a href="">
                        <i class="fab fa-instagram"></i>
                    </a>
                </div>
                <hr class="socket" />
                &copy; Club Werchow
            </div>
        </div>
    </footer>
</div>