<div class="responsive">
  <div class="row mb-4 col-12 d-flex justify-content-between">
    <a href="/solicitudtarjeta">
      <img class="tama単o" src="/public/img/clubwerchow/solicitud2.png" />
    </a>
    <a href="/comerciosadheridos">
      <img class="tama単o" src="/public/img/clubwerchow/empresas2.png" />
    </a>
    <a href="/sorteos/ganadores">
      <img class="tama単o" src="/public/img/clubwerchow/ganadores.png" />
    </a>
    <a
      href="https://www.facebook.com/Club-Werchow-100111638450456/"
      target="_blank"
    >
      <img class="tama単o" src="/public/img/clubwerchow/fanpage.png" />
    </a>
  </div>
</div>