<div class="web">
  <div class="row  d-flex justify-content-center mb-4">
    <div class="contenedor-img ejemplo-4-1">
      <img class="tama単o" src="/public/img/clubwerchow/solicitud2.png" />
      <div class="mascara">
        <div class="p-4 mt-2">
          <a class="mt-4 link" href="/solicitudtarjeta">
            Solicitar
          </a>
        </div>
      </div>
    </div>
    <div class="contenedor-img ejemplo-4-1">
      <img class="tama単o" src="/public/img/clubwerchow/empresas2.png" />
      <div class="mascara" data-toggle="modal" data-target="#empresas">
        <div class="p-4 mt-2">
          <a class="mt-4 link" href="/comerciosadheridos">
            Listado
          </a>
        </div>
      </div>
    </div>
    <div class="contenedor-img ejemplo-4-1">
      <img class="tama単o" src="/public/img/clubwerchow/ganadores.png" />
      <div class="mascara">
        <div class="p-4 mt-2">
          <a href="/sorteos/ganadores" class="mt-4 link">
            Ingresar
          </a>
        </div>
      </div>
    </div>
    <div class="contenedor-img ejemplo-4-1">
      <img class="tama単o" src="/public/img/clubwerchow/fanpage.png" />
      <div class="mascara">
        <div class="p-4 mt-2">
          <a
            href="https://www.facebook.com/Club-Werchow-100111638450456/"
            target="_blank"
            class="mt-4 link"
          >
            Visitar
          </a>
        </div>
      </div>
    </div>
  </div>
</div>