<section id="features" class="features">
  <div class="container">
    <div class="section-title">
      <h2>
        Grupo Werchow
      </h2>
      <p></p>
    </div>
    <div class="row" data-aos="fade-up">
      <div class="col-md-5">
        <img src="img/grupowerchow/features-1.svg" class="img-fluid" alt="" />
      </div>
      <div class="col-md-7 pt-4">
        <h3>
          ¿Que nos diferencia del resto?
        </h3>
        <p class="font-italic">
          Para nosotros el compromiso es un acto, no solo una
        </p>
        <ul>
          <li>
            <i class="icofont-check"></i>
            <strong>
              Vocación de Servicio.
            </strong>
            Buscamos dar soluciones y mejoras,  para cuidar de vos y tu familia.
          </li>
          <li>
            <i class="icofont-check"></i>
            <strong>
              Crecemos en tamaño y en forma.
            </strong>
            Nuevos convenios con prestadores. Más comercios se unen a nuestra red. Incorporamos nuevas zonas de influencia.
          </li>
          <li>
            <i class="icofont-check"></i>
            <strong>
              Convenios con diferentes especialistas medicos
            </strong>
            Traumatología, Médico Generalista, Cardiología, Neumonología, Oftalmología, Pediatría, Dermatología, Nutrición, Ginecología, Endocrinología, Otorrinolaringología,  Fonoaudiología, Psicología, Urología, Neurología, Gastroenterología, Reumatología, Flebología, Podología, Radiografías, Ecografías, Ergometrías, electrocardiograma, electroencefalograma, entre otros. Todas las especialidades y excelentes profesionales a tu disposición.
          </li>
          <li>
            <i class="icofont-check"></i>
            <strong>
              Salas Velatorias.
            </strong>
            Contamos con nuestras salas velatorias en Independencia N° 1185.
          </li>
          <li>
            <i class="icofont-check"></i>
            <strong>
              Amplia Red de Convenios
            </strong>
            con Farmacias, Ópticas, Laboratorios, entre otros.
          </li>
          <li>
            <i class="icofont-check"></i>
            <strong>
              Contamos con sucursales
            </strong>
            en Palpala, Perico y San Pedro, para estar siempre mas cerca de nuestros afiliados.
          </li>
        </ul>
      </div>
    </div>
    <div class="row" data-aos="fade-up">
      <div class="col-md-5 order-1 order-md-2">
        <img src="img/grupowerchow/features-2.svg" class="img-fluid" alt="" />
      </div>
      <div class="col-md-7 pt-5 order-2 order-md-1">
        <h3>
          No nos conformamos con lo ya realizado, siempre pensamos en el progreso y servicios para nuestros afiliados.
        </h3>
        <p class="font-italic">
          Por eso tenemos
          <strong>
            Club Werchow
          </strong>
          , Un grupo de amigos que brinda descuentos con diferentes comercios adheridos y ademas,
          <strong>
            Sortea multiples premios cada mes.
          </strong>
        </p>
        <p>
          No te quedes afuera del club y de los beneficios, solicita tu tarjeta en https://clubwerchow.com/
        </p>
      </div>
    </div>
    <div class="row" data-aos="fade-up">
      <div class="col-md-5">
        <img src="img/grupowerchow/features-3.svg" class="img-fluid" alt="" />
      </div>
      <div class="col-md-7 pt-5">
        <h3>
          Nuestros Valores
        </h3>
        <p>
          Sabemos que cuidarte es cuidarnos. Tu familia es nuestra familia. Deseamos acompañarte en cada Etapa de su Vida.
        </p>
        <ul>
          <li>
            <i class="icofont-check"></i>
            <strong>
              Calidez
            </strong>
            en la atención.
          </li>
          <li>
            <i class="icofont-check"></i>
            <strong>
              Compromiso y responsabilidad
            </strong>
            en nuestro trabajo.
          </li>
          <li>
            <i class="icofont-check"></i>
            <strong>
              Empatia y vocacion
            </strong>
            de servicio.
          </li>
        </ul>
      </div>
    </div>
    {{!-- <div class="row" data-aos="fade-up">
      <div class="col-md-5 order-1 order-md-2">
        <img src="img/grupowerchow/features-4.svg" class="img-fluid" alt="" />
      </div>
      <div class="col-md-7 pt-5 order-2 order-md-1">
        <h3>
          Quas et necessitatibus eaque impedit ipsum animi consequatur incidunt in
        </h3>
        <p class="font-italic">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua.
        </p>
        <p>
          Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
              velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
              culpa qui officia deserunt mollit anim id est laborum
        </p>
      </div>
    </div> --}}
  </div>
</section>
<!-- End Features Section -->